<!-- src/app/footer/footer.component.html -->
<div class="footer-container d-flex justify-content-between align-items-center">
  <div class="footer-info">
    COPYRIGHT 2024 ARELEA SOLUTIONS. DESIGN CONCEPT BY <a href="https://khumo.co.bw" target="_blank" rel="noopener noreferrer">Khumo</a>.
  </div>
  <div class="footer-links d-flex align-items-center">
    <a class="footer-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
    <a class="footer-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
    <a class="footer-link" routerLink="/services" routerLinkActive="active">SERVICES</a>
    <a class="footer-link" routerLink="/contact" routerLinkActive="active">CONTACT US</a>

  </div>
</div>
