<div class="service-header">
  <div class="service-header-content">
    <h1>Complete Vulnerability Management</h1>
    <p>Our next-gen tool, aimed to deliver a complete vulnerability management service tailored to you.</p>
    <button routerLink="/contact" class="btn btn-primary">Get a Quote</button>
  </div>
  <div class="service-header-image">
    <img src="mssp.jpg" alt="Service Image">
  </div>
</div>

<div class="service-page-container">
  <div class="service-section why-cvm">
    <div class="why-cvm-content">
      <div class="why-cvm-text">
        <ul>
          <li>Secure web app</li>
          <li>Accessible anywhere</li>
          <li>Easy to access reports</li>
          <li>A fixed-monthly manageable cost</li>
          <li>Next-gen technology</li>
          <li>Access to Cybersecurity experts</li>
        </ul>
      </div>
      <div class="why-cvm-image">
        <img src="80949.jpg" alt="Why CVM Image">
      </div>
    </div>
  </div>

  <div class="service-section whats-included">
    <h2>What's Included</h2>
    <div class="included-items">
      <div class="included-item">
        <h3>Penetration Tests</h3>
        <p>Tests to determine if our ethical hackers can enter your system undetected and launch a contained exploit.</p>
      </div>
      <div class="included-item">
        <h3>Vulnerability Assessments</h3>
        <p>Determines how many vulnerabilities your network and infrastructure have, how severe they are, and steps to remediate.</p>
      </div>
      <div class="included-item">
        <h3>Application Assessments</h3>
        <p>Scan your web applications and APIs to expose vulnerabilities, determining severity and providing recommendations for remediation.</p>
      </div>
      <div class="included-item">
        <h3>Firewall Assessments</h3>
        <p>Conduct regular Firewall Assessments to determine if your firewall is configured correctly and is effectively protecting your organization from threats.</p>
      </div>
      <div class="included-item">
        <h3>Awareness Campaigns</h3>
        <p>We test the security awareness of employees, scoring your overall cybersecurity awareness, and providing individualized training to those who require it.</p>
      </div>
      <div class="included-item">
        <h3>Managed Platform</h3>
        <p>A platform that provides a holistic view of threats, incidents, activities and expert analyses to ensure accurate monitoring and remediation. Safely stored and easily accessed.</p>
      </div>
    </div>
  </div>
<!--
  <div class="service-section get-protected call-to-action">
    <h2>Get Protected Today</h2>
    <button class="btn btn-primary">Get a Quote</button>
  </div> -->
</div>
