<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="magix.jpeg" alt="Magix Logo">
    </div>
    <div class="swiper-slide">
      <img src="schneider.jpeg" alt="Schneider Electric Logo">
    </div>
    <div class="swiper-slide">
      <img src="cisco.jpeg" alt="Cisco Logo">
    </div>
    <div class="swiper-slide">
      <img src="lenovo.jpeg" alt="Lenovo Logo">
    </div>
    <div class="swiper-slide">
      <img src="commvault.jpeg" alt="Commvault Logo">
    </div>
    <div class="swiper-slide">
      <img src="veeam.jpeg" alt="Veeam Logo">
    </div>
  </div>
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->

  <!-- Add Navigation -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
</div>
