<div class="section-header">
  <h1>Security Awareness Training</h1>
</div>

<div class="user-awareness-container">
  <div class="section section-left">
    <div class="section-content">
      <div class="section-text">
        <h2>Transforming Users into Cyber Defenders.</h2>
        <p>
          Without Security Awareness Training, your employees and third-party users on your systems
          remain the weakest point in your cybersecurity defense. It is not uncommon for insiders
          or accidental data leaks to create vulnerabilities that lead to costly security breaches.
        </p>
        <p>
          With the right tools, education, and mindset, your users can evolve from potential vulnerabilities
          into an organization’s best defense. By investing in your people, and by nurturing a culture
          of cyber awareness and preparedness, you can transition your workforce from a reactive stance
          to a proactive shield against threats.
        </p>
      </div>
      <div class="section-image">
        <img src="2148884024.jpg" style="height: 400px; width: 600px;" alt="Cyber Defenders Image">
      </div>
    </div>
  </div>

  <div class="section section-right">
    <div class="section-content">
      <div class="section-text">
        <h2>Train Users for Robust Cybersecurity.</h2>
        <p>
          Security Awareness Training is an ongoing educational program designed to teach your users
          about cybersecurity threats, best practices, and the importance of maintaining a secure computing
          environment.
        </p>
        <p>
          The primary goal of Security Awareness Training is to make employees, contractors, and other
          stakeholders more aware of potential security risks and to equip them with the knowledge and
          skills needed to mitigate those risks effectively.
        </p>
      </div>
      <div class="section-image">
        <img src="2147663650.jpg" style="height: 400px; width: 600px;" alt="Training Image">
      </div>
    </div>
  </div>

  <div class="section section-left">
    <div class="section-content">
      <div class="section-text">
        <h2>How We Do It</h2>
        <p>
          We provide online Security Awareness Training that monitors the progress of your users by
          testing their knowledge and tailors the training according to the individual's current ability.
          Our online training program tests your users' knowledge, and automatically upskills those who
          repeatedly fall short of acceptable standards until they have increased their awareness.
        </p>
      </div>
      <div class="section-image">
        <img src="121233.jpg" style="height: 400px; width: 600px;" alt="Method Image">
      </div>
    </div>
  </div>
</div>

<div class="section-clients">
  <h2>Clients Trust Us for Security Awareness Training</h2>
</div>
